.property-item{margin-bottom:20px}
.property-image{margin-bottom:15px}
.property-image>img{width:100%}
.property-loadmore{margin:10px 0;float:left;width:100%;text-align: center;}
.property-loadmore a{background:#007faa;padding:10px;color:#fff;display:inline-block}
.MainWrapper{padding:20px 0}
.category-listing{display:table;margin-bottom:20px}
.category-type{display:table-cell;text-align:center;border:1px solid #fff;}
.category-type a{color:#fff;display:block;padding:10px 0;background:#007faa}
.category-type a.current{background:#001c33}
.property-title{margin-bottom:10px}


.property-detail-image,.property-detail-title,.property-detail-content,.slider-images{margin-bottom:20px}
.property-detail-title p{font-size:2.5em;}
.property-detail-content p{font-size:1.5em;padding-bottom:10px}
.go-back{font-size:1.5em}